/* You can add global styles to this file, and also import other style files */
:root {
  --blue-outline: #2f466c;
  --blue-background: #212d45;

  /* Borders */
  --border: 1px solid var(--blue-outline);
}


.rounded {
  border-radius: 5px;
}

.default {
  border: 1px solid #80b5ea;
  padding: 8px;
}

a {
  color: green;
}


