<div class="container-md align-self-center mt-2">
  <div>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="row">
        <div>
          <label for="title" class="col-form-label">Title</label>
          <input type="text" class="form-control" id="title" formControlName="title">
        </div>
        <div class="form-floating my-2">
          <textarea id="description" class="form-control" formControlName="description" placeholder="Add a description for the forum topic."></textarea>
          <label for="description" class="col-form-label">Description</label>
        </div>
        @if(section.length > 0){
          <div>
            <label for="section" class="col-form-label">Section</label>
            <div>
              <input id="section"
                     type="text"
                     class="form-control"
                     formControlName="section"
                     [ngbTypeahead]="search"
                     [inputFormatter]="formatter"
                     [resultFormatter]="formatter"
                     [selectOnExact]="true"
                     (selectItem)="sectionChange($event)"
              >
            </div>
          </div>
        }
        <div>
          <label for="parent" class="col-form-label">Parent</label>
          <select id="parent" class="form-select" formControlName="parent">
            <option [value]="0" [defaultSelected]="0"></option>
            @for(forum of forums$ | async; track forum){
              <option [ngValue]="forum.id">{{forum.value}}</option>
            }
          </select>
        </div>
      </div>
      <div class="row justify-content-center bg-primary border border-secondary p-1">
        <button type="submit" [disabled]="!form.valid" class="btn btn-tertiary">Create</button>
      </div>
    </form>
  </div>
</div>
