<div class="tc-container">
    <div class="tc-icon">
        <img src="/favicon.ico"/>
    </div>
    <div class="tc-info">
        <a href="#">{{thread.title}}</a>
        <div>
            <span>{{thread.author}}</span>
            <span>DateTime</span>
            <span>Words:#</span>
            <div>
                TODO...pages
            </div>
        </div>
        <div>
            Tags
        </div>
    </div>
    <div class="tc-meta">
        <div>
            Replies:
            <a href="#">100</a>
        </div>
        <div>
            Views:  1K
        </div>
    </div>
    <div class="tc-recent">
        <a href="#">example time ago</a>
        <a href="#">commenter</a>
        <a href="#">
            <img src="/favicon.ico"/>
        </a>
    </div>
</div>
